{% extends "base_generic.html" %}

{% block content %}
<h1>Author: {{ author }}</h1>
{% if author.date_of_birth != None %}
<p>{{author.date_of_birth}}{% if author.date_of_death %} - {{author.date_of_death}} {% endif %}</p>
{% if perms.catalog.can_mark_returned %}
<p><a href="{% url 'author_update' author.id %}">Update Author</a> | <a
    href="{% url 'author_delete' author.id %}">Delete Author</a></p>
{% endif %}
{% endif %}

<div style="margin-left:20px;margin-top:20px">
  <h4>Books</h4>

  {% for book in author.book_set.all %}
  <hr>
  <p><strong><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></strong>, #{{book.id}}</p>
  <p>{% for genre in book.genre.all. %} {{ genre }}{% if not forloop.last %}
    {% endif %}{% endfor %}
  </p>
  <p>{{book.summary}}</p>
  {% endfor %}
</div>
{% endblock %}